*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #887878; /*#1b1919*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
clip-path: inset(50%);
  width: 1px;
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  padding: 133px 30px;
  max-height: 800px;
  align-items: end;
  justify-content: center;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 94% /* 70.5px */;
text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-height: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link_current {
  text-decoration: none;
}

.content__video-card-title {
  color: #fff;
font-family: Oswald;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 30px */
text-transform: uppercase;
padding-bottom: 6px;
padding-left: 2px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 16.2px */
  padding-left: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background-size: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  min-height: 54px;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
font-family: 'Fira Sans Condensed';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 5px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
font-family: 'Fira Sans Condensed';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #1B1919;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
min-width: 225px;
width: fit-content;
appearance: none;
  padding-block: 0px;
  padding-inline: 0px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__label {
  display: flex;
  min-height: 27px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #1B1919;
  box-shadow: 0 0 0 1px #fff;
}

.search-form__label:last-child:hover {
  text-decoration: underline;
}

.search-form__label-text {
  color: #fff;
font-family: 'Fira Sans Condensed';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.search-form__checkbox-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  background-color: #1B1919 ;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  display: flex;
  width: 17px;
  height: 17px;
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 6px;
  background-color: #fff ;
  border: 1px solid #1B1919;
  box-shadow: 0 0 0 1px #fff;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  border: 1px solid #fff;
}

.button {
  cursor: pointer;
  color: #fff;
text-align: center;
font-family: 'Fira Sans Condensed';
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #1B1919;
border: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  justify-self: end;
  align-self: end;
}

.more-button {
  width: 100%;
  height: 34px;
}

.result__video-container {
  display: flex;
  margin-bottom: 16px;
  height: 386px;
  width: 100%;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
}